{% extends 'donor/base.html' %} {% block cssloads %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
{%endblock%} {% block content %}

<section class="container-fluid">
	<div class="px-4 py-5 px-md-5 text-center text-lg-start">
		<div class="container">
			<div class="row gx-lg-5 align-items-center">
				<div class="col-lg-6 mb-5 mb-lg-0">
					<span class="my-1 display-5 fw-bold ls-tight ">
						Delete Existing Donor Record</span>
				</div>
				<div class="col-lg-6 mb-5 mb-lg-0">
					<div class="card">
						<div class="card-body py-5 px-md-5">
							
							
							<form action="{{ url_for('deleteDonor',user = session['id']) }}" action = "" method="post" autocomplete="off">
								<div class = "row">
									<div class = "col">
										<label for="inputState">Search Donor by Phone Number</label>
										<input type="text" id="deleteDonorSearch" class="form-control" name="phoneNumber" />
									</div>
								</div>
								<input type="submit" name = "formButton" class="btn btn-primary btn-block mb-4" value="Search Donor" />
							</form>
							<br>
							<div class="msg">{{ msg }}</div>
							<br>
							<hr class="mt-2 mb-2"/>
							{% if msg == "User Found" %}
							{{  user['first_name'] }}					
							{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Jumbotron -->
</section>

{% endblock %}
