{% extends 'hospital/base.html' %} {% block cssloads %} {%endblock%} {% block
content %}

<section class="container-fluid">

<!-- <div class="px-4 py-5 px-md-5 text-center text-lg-start"> -->
<div class="container">
	<div class="row align-items-center">
		<div class="col-4">
			<span class="my-1 display-5 fw-bold ls-tight">
				Approve a Request</span
			>
		</div>
		<div class="col-7">
			<div class="card">
        <div class="alert alert-primary" role="alert">
          {{msg}}
        </div>
				<div class = "row">
          <table class="card-table table table-responsive">
						<thead>
							<tr>
								{% for col in table_columns %}
								<th scope = "col">{{ col }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
              {% for i in pendingRequests %}
							<tr>
								<td>{{  i['request_id']}}</td>
                <td>{{  i['inventory_id']}}</td>
                <td>{{  i['hospital_name']}}</td>
                <td>{{  i['bag_id']}}</td>
                <td>{{  i['blood_group_requested']}}</td>
                <td>{{  i['blood_group_received']}}</td>							
							</tr>
              {% endfor %}
						</tbody>
					</table>
        </div>
        <hr>
          <div class = "row">
            <form action="{{ url_for('approveRequest',user = session['id']) }}" method="post" autocomplete="off">
              <div class="col">
                <label class="form-label" for="approveRequestForm">Request ID</label>
                  <select id="requestID" class="form-control" name = "requestID">					
                    {% for i in pendingRequests %}
                    <option>{{i['request_id']}}</option>
                    {%endfor%}
                  </select>
                  <input type="submit" class="btn btn-primary btn-block mb-4" value="Approve" />
              </div>

              </form>
          </div>
				
			</div>
		</div>  
		</section>

		{% endblock %}
	</div>
</div>
